@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* background */
    --primary-bg: 222deg 26% 31%; /* main background */
    --light-primary-bg: 223deg 31% 20%; /* toggle background, keypad background */
    --dark-primary-bg: 224deg 36% 15%; /* screen background */

    /* keys */
    --key-neutral-bg: 225deg 21% 49%; /* key background */
    --key-neutral-shadow: 224deg 28% 35%; /* key shadow */

    --key-accent-bg: 6deg 63% 50%; /* key background, toggle */
    --key-accent-shadow: 6deg 70% 34%; /* key shadow */

    --key-primary-bg: 30deg 25% 89%; /* key background */
    --key-primary-shadow: 28deg 16% 65%; /* key shadow */

    /* text */
    --color-primary: 221deg 14% 31%;
    --color-accent: 0deg 0% 100%;
    --color-neutral: 0deg 0% 100%;
  }

  .theme-2 {
    /* background */
    --primary-bg: 0deg 0% 90%; /* main background */
    --light-primary-bg: 0deg 5% 81%; /* toggle background, keypad background */
    --dark-primary-bg: 0deg 0% 93%; /* screen background */

    /* keys */
    --key-neutral-bg: 185deg 42% 37%; /* key background */
    --key-neutral-shadow: 185deg 58% 25%; /* key shadow */

    --key-accent-bg: 25deg 98% 40%; /* key background, toggle */
    --key-accent-shadow: 25deg 99% 27%; /* key shadow */

    --key-primary-bg: 45deg 7% 89%; /* key background */
    --key-primary-shadow: 35deg 11% 61%; /* key shadow */

    /* text */
    --color-primary: 60deg 10% 19%;
    --color-accent: 0deg 0% 100%;
    --color-neutral: 0deg 0% 100%;
  }

  .theme-3 {
    /* background */
    --primary-bg: 268deg 75% 9%; /* main background */
    --light-primary-bg: 268deg 71% 12%; /* toggle background, keypad background */
    --dark-primary-bg: 268deg 71% 12%; /* screen background */

    /* keys */
    --key-neutral-bg: 281deg 89% 26%; /* key background */
    --key-neutral-shadow: 285deg 91% 52%; /* key shadow */

    --key-accent-bg: 176deg 100% 44%; /* key background, toggle */
    --key-accent-shadow: 177deg 92% 70%; /* key shadow */

    --key-primary-bg: 268deg 47% 21%; /* key background */
    --key-primary-shadow: 290deg 70% 36%; /* key shadow */

    /* text */
    --color-primary: 52deg 100% 62%;
    --color-accent: 198deg 20% 13%;
    --color-neutral: 0deg 0% 100%;
  }
}

/* * {
  @apply border-2 border-red-600;
}
 */

.keys {
  @apply bg-key-primary-bg shadow-[0_3px_0px_0px] shadow-key-primary-shadow h-12 rounded grid place-items-center;
}

.reset,
.delete {
  @apply bg-key-neutral-bg shadow-key-neutral-shadow text-color-neutral;
}

.reset,
.equals {
  @apply col-span-2;
}

.equals {
  @apply bg-key-accent-bg shadow-key-accent-shadow text-color-accent;
}

.dummy {
  /* THEME 1 */
  color: hsl(222, 26%, 31%); /* main background */
  color: hsl(223, 31%, 20%); /* toggle background, keypad background */
  color: hsl(224, 36%, 15%); /* screen background */

  color: hsl(225, 21%, 49%); /* key background */
  color: hsl(224, 28%, 35%); /* key shadow */

  color: hsl(6, 63%, 50%); /* key background, toggle */
  color: hsl(6, 70%, 34%); /* key shadow  */

  color: hsl(30, 25%, 89%); /* key background, toggle */
  color: hsl(28, 16%, 65%); /* key shadow) */

  color: hsl(221, 14%, 31%); /* --color-text-primary */
  color: hsl(0, 0%, 100%); /* --color-text-accent */
  color: hsl(0, 0%, 100%); /* --color-text-neutral */

  /* THEME 2 */
  /* bg */
  color: hsl(0, 0%, 90%);
  color: hsl(0, 5%, 81%);
  color: hsl(0, 0%, 93%);

  /* keys */
  color: hsl(185, 42%, 37%);
  color: hsl(185, 58%, 25%);

  color: hsl(25, 98%, 40%);
  color: hsl(25, 99%, 27%);

  color: hsl(45, 7%, 89%);
  color: hsl(35, 11%, 61%);

  /* text */
  color: hsl(60, 10%, 19%); /* --color-primary */
  color: hsl(0, 0%, 100%); /* --color-accent */
  color: hsl(0, 0%, 100%); /* --color-neutral */

  /* THEME 3 */
  /* bg */
  color: hsl(268, 75%, 9%);
  color: hsl(268, 71%, 12%);
  color: hsl(268, 71%, 12%);

  /* keys */
  color: hsl(281, 89%, 26%); /* neutral */
  color: hsl(285, 91%, 52%);

  color: hsl(176, 100%, 44%); /* accent */
  color: hsl(177, 92%, 70%);

  color: hsl(268, 47%, 21%); /* primary */
  color: hsl(290, 70%, 36%);

  /* text */
  color: hsl(52, 100%, 62%); /* --color-primary */
  color: hsl(198, 20%, 13%); /* --color-accent */
  color: hsl(0, 0%, 100%); /* --color-neutral */
}
